<div class="row">
  <ngb-alert type="primary" class="mt-3" *ngIf="displayAlert" >
    The email <strong>"{{tmpMessage.subject}}"</strong> has been sent to <strong>{{tmpMessage.to}}</strong>
  </ngb-alert>
  <div class="col-md-6 col-sm-12">
    <fieldset class="rounded-3 p-3">
      <legend class="float-none w-auto px-3">New Email</legend>
      <app-email-reader-form (emitEmail)="sendEmail($event)" (emitEmailForm)="loadEmailForm($event)" />
    </fieldset>
  </div>

  <div class="col-md-6 col-sm-12 resizable panel-resizable mb-0"
       [ngStyle]="style">
    <app-up-to-date emailPresentationType="table"></app-up-to-date>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mt-2 mb-3">
    <fieldset class="rounded-3 p-3">
      <legend class="float-none w-auto px-3">Form Trace</legend>
      <div class="traceItems d-flex flex-wrap justify-content-center align-items-stretch overflow-y-auto">
        <app-log-trace-card [field]="{name: 'Form', status: formLogTrace().form}" />
        <ng-container *ngFor="let field of formLogTrace().fields" >
          <app-log-trace-card [field]="field" />
        </ng-container>
      </div>
    </fieldset>
  </div>
</div>



