
<div class="col-sm-12">
  <fieldset class="rounded-3 p-3 overflow-y-auto">
    <legend class="float-none w-auto px-3">Up to date</legend>
    @if(emails.length == 0){
      <h6 class="text-black">The list of emails is empty</h6>
    }@else{
    <div class="messageTable table-responsive">
      <table class="table rounded-3">
        <thead>
        <tr>
          <th>#</th>
          <th>From</th>
          <th>To</th>
          <th>Subject</th>
          <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let email of emails; let index = index">
          <td>{{index + 1}}</td>
          <td>{{email.from}}</td>
          <td>{{email.to}}</td>
          <td>{{email.subject}}</td>
          <td>{{email.body}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    }
  </fieldset>
</div>


