.email{
  background-color: grey;
  height: 80vh;
  min-height: 10rem;
}
table{
  box-shadow: 2px 4px 4px 2px rgba(174,156,110  ,.6);
}

fieldset{
  max-height: 28rem !important;
}

.messageTable{
  height: 24rem !important;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
