.input-group-text{
  width: 6rem;
}
.actions{
  max-width: 95%;
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.invalid-field{
  border: solid 4px #dc3545;
  box-shadow: 0 2px 4px 0 rgba(255,255,255,.6);
}

.valid-field{
  border: solid 4px green;
  box-shadow: 0 2px 4px 0 rgba(255,255,255,.6);
}

@media screen and (max-width: 380px){
  .actions{
    position: relative;
    padding-top: 0.5rem;
  }
}
