<form #emailForm="ngForm" (ngSubmit)="sendEmail()">
  <div class="input-group form-group mb-3">
    <label class="input-group-text" for="from"
           id="inputGroupPrepend3"
           [ngClass]="fromField.valid && fromField.touched ?'valid-field' :
                          fromField.invalid && fromField.touched ? 'invalid-field' : '' "
    >From</label>
    <input type="email"
           class="form-control"
           placeholder="Please type the sender's email"
           id="from"
           name="from"
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
           #fromField = "ngModel"
           appHighlight
           aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
           [(ngModel)]="email.from" required
           [ngClass]="fromField.valid && fromField.touched ?'valid-field is-valid' :
                          fromField.invalid && fromField.touched ? 'invalid-field is-invalid' : '' "
    >
    @if(fromField.errors && fromField.touched){
    <div class="invalid-feedback d-block">
        @if(fromField.errors['required']){
          Please provide the email
        }
        @else if(fromField.errors['pattern']){
          Please provide a valid email ex. "myemail{{'@'}}mail.com"
        }
    </div>
      }
  </div>
  <div class="input-group form-group mb-3">
    <label class="input-group-text"
           for="to"
           [ngClass]="toField.valid && toField.touched ?'valid-field' :
                        toField.invalid && toField.touched ? 'invalid-field' : '' "
    >To</label>
    <input type="email"
           class="form-control"
           placeholder="Please type the receipt's email"
           id="to"
           name="to"
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
           #toField = "ngModel"
           appHighlight
           [(ngModel)]="email.to" required
           [ngClass]="toField.valid && toField.touched ?'valid-field is-valid' :
                        toField.invalid && toField.touched ? 'invalid-field is-invalid' : '' "
    >
    @if(toField.errors && toField.touched ){
    <div class="invalid-feedback d-block">

        @if(toField.errors['required']){
          Please provide the email
        }
        @else if(toField.errors['pattern']){
          Please provide a valid email ex. "myemail{{'@'}}mail.com"
        }
    </div>
    }
  </div>
  <div class="input-group form-group mb-3">
    <label class="input-group-text"
           for="subject"
           [ngClass]="subjectField.valid && subjectField.touched ?'valid-field' :
                              subjectField.invalid && subjectField.touched ? 'invalid-field' : '' ">Subject</label>
    <input type="text"
           class="form-control"
           placeholder="Please add the desire subject"
           id="subject" [(ngModel)]="email.subject"
           name="subject"
           #subjectField = "ngModel"
           required minlength="10" maxlength="50"
           appHighlight
           [ngClass]="subjectField.valid && subjectField.touched ?'valid-field is-valid' :
                              subjectField.invalid && subjectField.touched ? 'invalid-field is-invalid' : '' ">
    @if(subjectField.errors && subjectField.touched){
    <div class="invalid-feedback">
        @if(subjectField.errors!['minlength']){
          The subject should content at least 10 to 50 characters
        }@else if(subjectField.errors['required']){
          Please a subject
        }
    </div>
    }
  </div>
  <div class="input-group form-group mb-3">
    <label class="input-group-text"
           for="body"
           [ngClass]="bodyField.valid && bodyField.touched ?'valid-field' :
                            bodyField.invalid && bodyField.touched ? 'invalid-field' : '' "
    >Message</label>
    <textarea class="form-control"
              placeholder="Write your text here!"
              id="body"
              name="body"
              appHighlight
              [(ngModel)]="email.body"
              #bodyField = "ngModel"
              [ngClass]="bodyField.valid && bodyField.touched ?'valid-field is-valid' :
                            bodyField.invalid && bodyField.touched ? 'invalid-field is-invalid' : '' "
    ></textarea>
  </div>
  <div class="col-md-12 actions mt-3">
    <button type="reset" class="btn btn-primary btn-lg pl-3 pr-3" (click)="clearEmail()">Clear</button>
    <button type="submit" class="btn btn-primary btn-lg pl-3 pr-3" [disabled]="!emailForm.form.valid" >Send!</button>
  </div>
</form>
