<table class="table rounded-3">
  <thead>
  <tr>
    <th>#</th>
    <th>From</th>
    <th>To</th>
    <th>Subject</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let email of emails | emailFilter: emailFilterValue: emailSearchText">
    <td>{{email.id}}</td>
    <td>{{email.from}}</td>
    <td>{{email.to}}</td>
    <td>{{email.subject}}</td>
    <td>
            <span>
              <button class="btn btn-icon">
                <fa-icon [icon]="faEnvelopeOpen" (click)="viewEmail(email.id)"></fa-icon>
              </button>
            </span>
            <span>
              <button class="btn btn-icon" (click)="deleteEmail(email.id)">
                <fa-icon [icon]="faTrashCan"></fa-icon>
              </button>
            </span>
    </td>
  </tr>
  </tbody>
</table>
